MYSQL_ROOT_PASSWORD=change_me
MYSQL_DATABASE=wordpress
MYSQL_USER=wpuser
MYSQL_PASSWORD=change_me

WORDPRESS_DB_HOST=wordpress-db:3306
WORDPRESS_DB_USER=wpuser
WORDPRESS_DB_PASSWORD=change_me
WORDPRESS_DB_NAME=wordpress
